.question {
    text-align: center;
    font-style: italic;
    font: 16px;
    font-family: Helvitica;
    color: darkblue;
    width: 100%;
    display: grid;
    grid-template:auto;
    padding:15px;
    margin: 0px 0px 19px;
    border-bottom: 1px solid grey;
    box-shadow: lightgrey;

}

.answer {
    font-weight: bold;
}
