.question {
    text-align: center;
    font-style: italic;
    font: 16px;
    font-family: Helvitica;
    color: darkblue;
    width: 100%;
    display: grid;
    grid-template:auto;
    padding:20px;
    margin: 0px 0px 20px;
    border-bottom: .2px solid grey;
    box-shadow: lightgrey;

}

.answer {
    font-weight: bold;
}
