.questions {
    font-size: large;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px;
    padding-top: 10px;
    width: 100%;
    border-bottom: solid gray 3px;
    display:inline-block;
    font-family: "Times New Roman", Times, serif;

}
.questionbutton{

    background-color: lightblue;
    margin: 6px 2px;
    padding: 6px;
    border: 2px solid rgb(86, 86, 228);
    border-radius: 5px;
    font-size: 16px;
    float: right;

}

.questionbutton:hover {
    background-color: blue;
    cursor: pointer;
}

.page-color {
    background-color: lightgrey;
    background: radial-gradient(


        rgb(115, 151, 146) 0%,
        rgb(44, 46, 51) 100%
    )
}
