.profile-dropdown {
  position: absolute;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 47px;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  display: flex;
  margin: auto;
  justify-content: space-between;


}
.signupbutton {
  background-color: lightblue;
    margin: 6px 2px;
    padding: 6px;
    border: 2px solid rgb(86, 86, 228);
    border-radius: 5px;
    font-size: 12px;
}

.signupbutton:hover {
  background-color: blue;
  cursor: pointer;
}
.fitness {
  font-size: 25px;
  font-weight: bold;
  font: 25px Arial, bold, sans-serif;
  color: white;
}
